<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
<!-- <input type="file" name="image" id=""> -->
<div class="mb-3">
  <div class="form-file custom-file">
      <input type="file" class="form-file-input" id="image" name="image" multiple>
      <label class="form-file-label" for="image">
          <span class="form-file-text custom-file-label">Choose image(s)...</span>
          <span class="form-file-button">Browse</span>
      </label>
  </div>
</div>

            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>
<!-- <% layout('layouts/boilerplate') %> 


    
            
            <h1 class="card-title card-header text-center" >ADD A CAMPGROUND</h1>
    <form action="/campgrounds" method="POST" class="needs-validation" novalidate>
      
 <div class="row mt-3 mb-3">
              <label for="title" class="col-sm-2 col-form-label">TITLE</label>
              <div class="col-sm-5">
                <input type="text" id="title" value="" name="campground[title]"class="form-control" required>
                <div class="valid-feedback">
                  Looks good!
                </div>  
              </div>
              
            </div>
            <div class="row mb-3">
              <label for="location" class="col-sm-2 col-form-label">LOCATION</label>
              <div class="col-sm-5">
                <input class="form-control" type="text"  id="location" name="campground[location]" required>
                <div class="valid-feedback">
                  Looks good!
                </div>  
              </div>
            </div>
            <div class="row mb-3">
                <label for="image" class="col-sm-2 col-form-label">IMAGE URL</label>
                <div class="col-sm-5">
                  <input type="text" id="image" value="" name="campground[image]"class="form-control" required>
                  <div class="invalid-feedback">
                    Please provide a valid link.
                  </div>  
                </div>
              </div>
              <div class="mb-3">
                
                <div class="input-group ">
                    <label class="form-label " for="price" style="padding-right: 35px;">CAMPGROUND PRICE</label>
                    <span class="input-group-text" id="price-label">$</span>
                        <div class="col-sm-1" >
                    <input type="text" class="form-control col-sm-5" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" required>
                        
                      </div>
                      
            </div>
               
            </div>
              <div class="row mb-3">
                <label for="description" class="col-sm-2 col-form-label">DESCRIPTION</label>
                <div class="col-sm-5">
                  <textarea type="text" id="description" value="" name="campground[description]"class="form-control" required  ></textarea>
                  <div class="valid-feedback">
                    Looks good!
                  
                  </div>  
                </div>
              </div>
            
            <button type="submit" class="btn btn-success mt-5">SUBMIT</button>
          </form>
    
  <div class="mt-5 mb-3">
    <section><a href="/campgrounds/">ALL CAMPGROUNDS</a></section>
</div> -->
